@font-face {
    font-family: 'bebas';
    src: url('../fonts/BebasNeue-Regular.ttf');   
}
@font-face {
    font-family: 'idroid';
    src: url('../fonts/idroid.otf');
}
:root{
    --cor0: #7EE1AE;
    --cor1: #3ADC87;
    --cor2: #2CA868;
    --cor3: #185C39;
    --cor4: #031f12;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'bebas', cursive;
}
*{
    margin: 0;
    padding: 0;
}
.android-font{
    font-family: 'idroid';
    font-weight: normal;
}

body{
    background-color: #cdffe5;
    font-family: var(--fonte-padrao);
}

.externo::after{
    content: '\1F517\00a0'
}

header{
    background-image: linear-gradient(to bottom, #3adc87, #031f12);
    min-height: 150px;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;   
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.438);
}

header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

nav{
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.507);
}

nav a{
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav a:hover{
    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 10px;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
}

main{
    background-color: white;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
    border-radius: 0 0 10px 10px;
}

main h1{
    color: var(--cor4);
    font-size: 1.8em;
}

main h2{
    background-image: linear-gradient(to right, var(--cor1), white);
    color: var(--cor3);
    padding-left: 8px;
}

main p{
    margin: 15px 0;
    text-indent: 30px;
    line-height: 1.5em;
}

main a{
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
}

main strong{
    color: var(--cor3);
    background-color: var(--cor0);
    font-weight: bold;
    padding: 5px;
}


main img{
    width: 100%;
}

main img.imagem-pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div{
    background-color: #031f12;
    margin: 0 -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div > iframe{   
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor0);
    border-radius: 10px;
    padding : 10px;
    margin: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.473);
}

aside h3{
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px; /*o número negativo faz a margem crescer para fora*/
    border-radius: 10px 10px 0 0;
}

aside > ol{
    list-style-position: inside;
    list-style-type: '\2714\00a0';
    columns: 2;
}

article{   
    background-color: white;
}

footer{
    background-color: #185C39;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color: #7EE1AE;
    text-decoration: underline;
}